*{
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--tertiary);
    box-shadow: 0 5px 35px rgb(235, 39, 25);
}

header h1 {
    color: var(--tertiary);
    background-color: var(--secondary);
    padding: 5px 1% 5px 5%;
    margin: 0;
    font-size: 3vw;
    line-height: 1;
}

header a:hover {
    color: var(--light);
}
.hero-banner {
    background: rgb(68, 88, 120);
    background-image: url("../images/header.jpg"), linear-gradient(90deg, var(--secondary) 0%, var(--primary) 100%);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 30vh;
    color: var(--light);
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding-left: 10vw;
}

.hero-banner img {
    width: 150px;
    margin: 20px;
    border-radius: 10%;
    opacity: 0.8;
}

.hero-banner img:hover{
    opacity: 1;
}

.hero-banner div {
    flex: 0 0 90%;
}

.hero-banner h2 {
    background-color: var(--secondary);
    color: var(--tertiary);
    margin: 0;
    padding: 5px 10px;
    font-size: 2.2rem;
    line-height: 1.2;
    display: inline;
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.1s ease-in;
    font-size: 1.4rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--light);
}

nav a:last-child {
    margin-right: 0;
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.page-wrapper {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--primary);
    font-size: vw;
    line-height: 1.1;
}

.page-section > div {
    flex: 0 0 75%;
}

.page-section p {
    margin-bottom: 20px;
    color: black;
}
.About-Me {
    margin-bottom: 32px;
    color: #1e4bc7;
}
.Work {
    margin-bottom: 32px;
    color: #1e4bc7;
}
.Contact-Me {
    margin-bottom: 32px;
    color: #1e4bc7;
}
.About-Me h2 {
    margin-bottom: 10px;
    font-size: 62px;
}
.About-Me p{
    color: rgb(3, 3, 3);
    text-align: center;
}
.Work h2{
    margin-bottom: 10px;
    font-size: 62px;
}
.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact address a {
    color: var(--tertiary);
    padding: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
}

.contact address a:hover {
    background-size: 100% 88%;
    color: var(--light);
}
.poke-project {
    background-image: url("../images/pokeproject.png");
}
.horiseon {
    background-image: url("../images/horiseon.png");
}
.games {
    background-image: url("../images/games.png"); 
}
footer  {
    font-size: 1.0em;
    text-align: center;
    vertical-align: bottom;
  }