*{
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--tertiary);
    box-shadow: 0 5px 35px rgb(235, 39, 25);
}

header h1 {
    color: var(--tertiary);
    background-color: var(--secondary);
    padding: 5px 1% 5px 5%;
    margin: 0;
    font-size: 3vw;
    line-height: 1;
}

header a:hover {
    color: var(--light);
}
.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.1s ease-in;
    font-size: 1.4rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--light);
}

nav a:last-child {
    margin-right: 0;
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.page-wrapper {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.About-Me {
    margin-bottom: 32px;
    color: #1e4bc7;
}
.Work {
    margin-bottom: 32px;
    color: #1e4bc7;
}
.Contact-Me {
    margin-bottom: 32px;
    color: #1e4bc7;
}
.About-Me h2 {
    margin-bottom: 10px;
    font-size: 62px;
}
.About-Me p{
    color: rgb(3, 3, 3);
    text-align: center;
}
.Work h2{
    margin-bottom: 10px;
    font-size: 62px;
}
.Contact-Me h2{
    margin-bottom: 10px;
    font-size: 62px;
}
.poke-project {
    background-image: url("../images/pokeproject.png");
}
.horiseon {
    background-image: url("../images/horiseon.png");
}
.games {
    background-image: url("../images/games.png"); 
}